@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #B87F51;       /* pelaje caramelo */
  --color-primary-soft: #BE8B62;  /* hover */
  --color-bg: #E3E5E2;            /* fondo claro */
  --color-dark: #1F1917;          /* texto fuerte */
  --color-accent: #B16D6E;        /* nariz */
  --color-eye: #867742;           /* ojo oliva */
  --color-muted: #716256;         /* texto secundario */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
